.modal-mod {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.form-row {
    padding: 7px 15px 7px 15px;
}


.modal-backdrop-mod.show {
    opacity: .5;
}

.modal-backdrop-mod {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}


.fade, .fade-mod {
    transition: opacity .15s linear;
}
.fade-mod:not(.show) {
    /*opacity: .5;*/
}
